<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="/"><i class="far fa-folder-open"></i> Αρχική</a></li>
      <li><a href="/contact"><i class="far fa-folder-open"></i> Επικοινωνία</a></li>
      <li><a href="/guide"><i class="far fa-folder-open"></i> Οδηγός Markdown</a></li>
    </ul>
  </div>
